# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
# Dodaj tutaj trochę ścieżek do gitignore, szczególnie to co intellij generuje i inne ide.
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
